@import '../../styles/color.scss';
@import '../../styles/variables.scss';

.dd {
    width: 100%;
    text-align: left;
    border: solid 1px $light-grey;
    padding-top: $base * 4;
    padding-bottom: $base * 4;
}

.menu {
    width: 100%;
}

.dropdown-toggle::after {
    float: right;
    margin-top: $base * 2;
}
