@import '../../styles/color.scss';
@import '../../styles/variables.scss';

.desc-toggle {
    background-color: white;
    border: solid 0x $light-grey;
    border-bottom: solid 1px $light-grey;
}
.desc-header {
    display: flex;
    justify-content: space-between;
}
.desc-icon {
    align-self: center;
}
.card {
    border-width: 0px;
    padding-top: $base * 3;
    padding-bottom: $base * 3;
}
