@font-face {
    font-family: 'GrafolitaScript';
    src: local('GrafolitaScript'),
        url(./fonts/Grafolita-Script-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'GrafolitaScript';
    font-weight: 900;
    src: local('GrafolitaScript'),
        url(./fonts/Grafolita-Script-Bold.ttf) format('truetype');
}
